/* $loc_script_Visualization_App_css_comment1$ */

#content-main {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto; /* $loc_script_Visualization_App_css_comment3$ */
}

.padding {
    padding: 15px;
}

#notification-message {
    background-color: #818285;
    color: #fff;
    position: absolute;
    width: 100%;
    min-height: 80px;
    right: 0;
    z-index: 100;
    bottom: 0;
    display: none; /* $loc_script_Visualization_App_css_comment6$ */
}

    #notification-message #notification-message-header {
        font-size: medium;
        margin-bottom: 10px;
    }

    #notification-message #notification-message-close {
        background-image: url("../Images/Close.png");
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
        position: absolute;
        right: 5px;
        top: 5px;
        cursor: pointer;
    }
