<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <generatePublisherEvidence enabled="false"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="PublicAssemblies"/>
    </assemblyBinding>
    <!-- 
          We need this binding redirect to avoid compilation warnings because V5 adapters
          reference version 15 and Microsoft.VisualStudio.SharePoint.Commands.dll references version 14
          of Microsoft.SharePoint.dll
       -->
    <dependentAssembly>
      <assemblyIdentity name="Microsoft.SharePoint" publicKeyToken="71e9bce111e9429c" culture="neutral" />
      <bindingRedirect oldVersion="14.0.0.0" newVersion="15.0.0.0" />
    </dependentAssembly>
  </runtime>
</configuration>