<!--
	When changing this file, please consider whether the following related files need to be updated as well:

	Blend\Source\Application\Debug\app.config
	Blend\Tools\Test\InProcessHarness.config
	Blend\Tools\UnitTestDriver\UnitTestDriver.exe.config
-->

<configuration>
	<!--
		Mixed mode assemblies (C++/CLI) will not load into a newer CLR by default. Blend disables this
		so user projects can load when they have mixed mode dependencies that target older frameworks.
		However, we do need to insure that we're running on the version of the framework against which we were built.
	-->
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
	<runtime>
		<!--
			Assemblies downloaded from a remote store will not run in full-trust by default. XDesProc
			does not enable this as running partial-trust assemblies in full-trust is a potential
			security threat.
		<loadFromRemoteSources enabled="true"/>
		-->
		<designerNamespaceResolution enabled="true" />
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!--
				User linked versions of these assemblies (direct or indirect) will cause issues with Blend.
			-->
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Build.Framework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="12.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Build" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="12.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Build.Engine" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="12.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Windows.Design.Interaction" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="4.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Windows.Design.Extensibility" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="4.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualC" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="10.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WPFToolkit" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="3.5.40128.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
