.dropdownoptions {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: transparent;
}

    .dropdownoptions .dropdownoptions-header {
        display: -ms-grid;
        -ms-grid-rows: 1fr;
        -ms-grid-columns: auto auto auto;
        right: 0px;
        top: 0px;
        -ms-grid-row-align: center;
        padding-bottom: 2px;
        padding-top: 1px;
        height: 100%;
    }

    .dropdownoptions .dropdownoptions-header-custom {
        padding-left: 5px;
        padding-right: 5px;
        background-color: transparent;
    }

        .dropdownoptions .dropdownoptions-header-custom:hover {
            background-color: lightgreen; /*[{vs-command-drop-down-header-background-hover}]*/
            color: black; /*[{vs-command-drop-down-header-text-hover}]*/
        }

        .dropdownoptions .dropdownoptions-header-custom:focus {
            background-color: lightgreen; /*[{vs-command-drop-down-header-background-hover}]*/
            color: black; /*[{vs-command-drop-down-header-text-hover}]*/
        }

    .dropdownoptions .dropdownoptions-header-keyboard-focus {
        background-color: lightgreen; /*[{vs-command-drop-down-header-background-hover}]*/
        color: black; /*[{vs-command-drop-down-header-text-hover}]*/
    }

    .dropdownoptions .dropdownoptions-header .dropdownoptions-header-external-icon {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        white-space: nowrap;
        background-color: transparent;
    }

    .dropdownoptions .dropdownoptions-header .dropdownoptions-header-text {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
        white-space: nowrap;
        background-color: transparent;
        color: inherit;
        padding-right: 1px;
    }
    .dropdownoptions .dropdownoptions-header-highlight {
        border-color: lightgreen; /*[{vs-command-bar-selected-border-color}]*/
        border-width: 1px;
        border-style: solid;
        background-color: transparent; /*[{vs-command-bar-selected-color}]*/
        color: black; /*[{vs-command-drop-down-header-text-hover}]*/
    }

    .dropdownoptions .dropdownoptions-header .dropdownoptions-header-dropdown-icon {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
        font-family: Marlett !important;
        -ms-grid-row-align: center;
        background-color: transparent;
    }

    .dropdownoptions .dropdownoptions-flyout {
        position: absolute;
        right: 0px;
        display: -ms-grid;
        -ms-grid-rows: 1fr auto;
        -ms-grid-columns: 1fr;
        border: 1px solid black; /*[1px solid {vs-command-drop-down-border}]*/
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 5px;
        width: 250px;
        max-height: 300px;
        overflow: auto;
        background-color: white; /*[{vs-command-flyout-background}]*/
        z-index: 9999;
        color: black; /*[{plugin-color}]*/
    }

        .dropdownoptions .dropdownoptions-flyout .dropdownoptions-body {
            -ms-grid-row: 2;
            -ms-grid-column: 1;
            background-color: transparent;
        }

            .dropdownoptions .dropdownoptions-flyout .dropdownoptions-body .dropdownoptions-body-title {
                padding-left: 5px;
                background-color: transparent;
            }

            .dropdownoptions .dropdownoptions-flyout .dropdownoptions-body .dropdownoptions-item {
                padding: 0px 0px;
                background-color: transparent;
            }

                .dropdownoptions .dropdownoptions-flyout .dropdownoptions-body .dropdownoptions-item .dropdownoptions-checkboxcontainer {
                    padding-left: 5px;
                    padding-right: 0px;
                    width: 100%;
                    display: -ms-grid;
                    -ms-grid-rows: 1fr;
                    -ms-grid-columns: 1.500em auto 1fr;
                    cursor: pointer;
                    grid-row-align: center;
                    background-color: transparent;
                    border: 1px solid transparent;
                }

                    .dropdownoptions .dropdownoptions-flyout .dropdownoptions-body .dropdownoptions-item .dropdownoptions-checkboxcontainer .checkbox {
                        -ms-grid-row: 1;
                        -ms-grid-column: 1;
                        position: relative;
                        width: 100%;
                        height: 100%;
                        background-color: transparent;
                    }

                        .dropdownoptions .dropdownoptions-flyout .dropdownoptions-body .dropdownoptions-item .dropdownoptions-checkboxcontainer .checkbox .checkboxLabel {
                            position: absolute;
                            width: 1.000em;
                            height: 1.000em;
                            top: 5px;
                            left: 0px;
                            background-color: transparent;
                            border: 1px solid #ddd; /*[1px solid {vs-command-checkbox-border}]*/
                        }

                            .dropdownoptions .dropdownoptions-flyout .dropdownoptions-body .dropdownoptions-item .dropdownoptions-checkboxcontainer .checkbox .checkboxLabel:active {
                                cursor: pointer;
                                border: 1px solid #ddd; /*[1px solid {vs-command-checkbox-border-hover}]*/
                            }

                            .dropdownoptions .dropdownoptions-flyout .dropdownoptions-body .dropdownoptions-item .dropdownoptions-checkboxcontainer .checkbox .checkboxLabel:focus {
                                cursor: pointer;
                            }

                            .dropdownoptions .dropdownoptions-flyout .dropdownoptions-body .dropdownoptions-item .dropdownoptions-checkboxcontainer .checkbox .checkboxLabel:hover {
                                cursor: pointer;
                            }

                            .dropdownoptions .dropdownoptions-flyout .dropdownoptions-body .dropdownoptions-item .dropdownoptions-checkboxcontainer .checkbox .checkboxLabel:after {
                                opacity: 0;
                                content: '';
                                position: absolute;
                                width: 0.500em;
                                height: 0.200em;
                                background: transparent;
                                top: 0.200em;
                                left: 0.100em;
                                border-bottom: 2px solid black; /*[2px solid {plugin-color}]*/
                                border-left: 2px solid black; /*[2px solid {plugin-color}]*/
                                -ms-transform: rotate(-45deg);
                                transform: rotate(-45deg);
                            }

                        .dropdownoptions .dropdownoptions-flyout .dropdownoptions-body .dropdownoptions-item .dropdownoptions-checkboxcontainer .checkbox input[type=checkbox]:checked + .checkboxLabel:after {
                            opacity: 1;
                        }

                    .dropdownoptions .dropdownoptions-flyout .dropdownoptions-body .dropdownoptions-item .dropdownoptions-checkboxcontainer .checkboxicon {
                        -ms-grid-row: 1;
                        -ms-grid-column: 2;
                        background-color: transparent;
                    }

                    .dropdownoptions .dropdownoptions-flyout .dropdownoptions-body .dropdownoptions-item .dropdownoptions-checkboxcontainer .checkboxicon .icon{
                        width: 1.250em;
                        height: 100%;
                        white-space: nowrap;
                        background-color: transparent;
                        background-repeat: no-repeat;
                        background-position-y: center;
                    }

                    .dropdownoptions .dropdownoptions-flyout .dropdownoptions-body .dropdownoptions-item .dropdownoptions-checkboxcontainer .checkboxtext {
                        -ms-grid-row: 1;
                        -ms-grid-column: 3;
                        width: 100%;
                        height: 100%;
                        line-height: 1.000em;
                        background-color: transparent;
                    }

                        .dropdownoptions .dropdownoptions-flyout .dropdownoptions-body .dropdownoptions-item .dropdownoptions-checkboxcontainer .checkboxtext label {
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            width: inherit;
                            float: left;
                            background-color: transparent;
                            padding-top: 5px;
                            padding-bottom: 5px;
                        }

                .dropdownoptions .dropdownoptions-flyout .dropdownoptions-body .dropdownoptions-item .dropdownoptions-listboxcontainer {
                    padding: 0px;
                    display: -ms-grid;
                    -ms-grid-rows: auto auto;
                    -ms-grid-columns: 1fr;
                    grid-row-align: center;
                    background-color: transparent;
                }

                    .dropdownoptions .dropdownoptions-flyout .dropdownoptions-body .dropdownoptions-item .dropdownoptions-listboxcontainer .dropdownoptions-checkboxcontainer:hover {
                        background-color: lightgreen; /*[{vs-command-drop-down-header-background-hover}]*/
                        color: black; /*[{vs-command-drop-down-header-text-hover}]*/
                        border: 1px solid lightcyan; /*[1px solid {vs-command-search-border-hover}]*/
                    }

                        .dropdownoptions .dropdownoptions-flyout .dropdownoptions-body .dropdownoptions-item .dropdownoptions-listboxcontainer .dropdownoptions-checkboxcontainer:hover .checkbox .checkboxLabel {
                            border: 1px solid #ddd; /*[1px solid {vs-command-drop-down-header-text-hover}]*/
                        }

                    .dropdownoptions .dropdownoptions-flyout .dropdownoptions-body .dropdownoptions-item .dropdownoptions-listboxcontainer .dropdownoptions-checkboxcontainer:focus .checkbox .checkboxLabel {
                        border: 1px solid #ddd; /*[1px solid {vs-command-drop-down-header-text-hover}]*/
                    }

                    .dropdownoptions .dropdownoptions-flyout .dropdownoptions-body .dropdownoptions-item .dropdownoptions-listboxcontainer .dropdownoptions-checkboxcontainer:hover .checkbox .checkboxLabel:after {
                        border-bottom: 2px solid black; /*[2px solid {vs-command-drop-down-header-text-hover}]*/
                        border-left: 2px solid black; /*[2px solid {vs-command-drop-down-header-text-hover}]*/
                    }

                    .dropdownoptions .dropdownoptions-flyout .dropdownoptions-body .dropdownoptions-item .dropdownoptions-listboxcontainer .dropdownoptions-checkboxcontainer:focus .checkbox .checkboxLabel:after {
                        border-bottom: 2px solid black; /*[2px solid {vs-command-drop-down-header-text-hover}]*/
                        border-left: 2px solid black; /*[2px solid {vs-command-drop-down-header-text-hover}]*/
                    }

                    .dropdownoptions .dropdownoptions-flyout .dropdownoptions-body .dropdownoptions-item .dropdownoptions-listboxcontainer .dropdownoptions-checkboxcontainer:focus {
                        background-color: lightgreen; /*[{vs-command-drop-down-header-background-hover}]*/
                        color: black; /*[{vs-command-drop-down-header-text-hover}]*/
                        border: 1px solid lightcyan; /*[1px solid {vs-command-search-border-hover}]*/
                    }

                    .dropdownoptions .dropdownoptions-flyout .dropdownoptions-body .dropdownoptions-item .dropdownoptions-listboxcontainer .listboxlabel {
                        -ms-grid-row: 1;
                        -ms-grid-column: 1;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        width: inherit;
                        float: left;
                        background-color: transparent;
                        padding-left: 5px;
                    }

                    .dropdownoptions .dropdownoptions-flyout .dropdownoptions-body .dropdownoptions-item .dropdownoptions-listboxcontainer .listbox {
                        padding: 2px 0px;
                        -ms-grid-row: 2;
                        -ms-grid-column: 1;
                        overflow: auto;
                        max-height: 150px;
                        background-color: transparent;
                    }

    .dropdownoptions input[type="checkbox"] {
        display: none;
    }

    .dropdownoptions .dropdownoptions-flyout .dropdownoptions-footer {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        display: -ms-grid;
        -ms-grid-rows: 1fr;
        -ms-grid-columns: 1fr auto 6px;
        background-color: transparent;
        padding-top: 9px;
        padding-bottom: 6px;
    }

        .dropdownoptions .dropdownoptions-flyout .dropdownoptions-footer .dropdownoptions-buttonarea {
            -ms-grid-row: 1;
            -ms-grid-column: 2;
            -ms-grid-column-align: end;
            display: -ms-grid;
            -ms-grid-rows: 1fr;
            -ms-grid-columns: auto 12px auto;
            background-color: transparent;
        }

            .dropdownoptions .dropdownoptions-flyout .dropdownoptions-footer .dropdownoptions-buttonarea .dropdownoptions-okbutton {
                -ms-grid-row: 1;
                -ms-grid-column: 1;
                -ms-grid-column-align: end;
                background-color: transparent;
            }

            .dropdownoptions .dropdownoptions-flyout .dropdownoptions-footer .dropdownoptions-buttonarea .dropdownoptions-buttonseperator {
                -ms-grid-row: 1;
                -ms-grid-column: 2;
                background-color: transparent;
            }

            .dropdownoptions .dropdownoptions-flyout .dropdownoptions-footer .dropdownoptions-buttonarea .dropdownoptions-cancelbutton {
                -ms-grid-row: 1;
                -ms-grid-column: 3;
                -ms-grid-column-align: start;
                background-color: transparent;
            }

.dropdownoptions-button {
    border: 1px solid transparent;
    background-image: none;
    background-color: white; /*[{vs-command-button-background}]*/
    color: black; /*[{vs-command-button-foreground}]*/
}

    .dropdownoptions-button:hover {
        border: 1px solid transparent;
        background-image: none;
        background-color: white; /*[{vs-command-button-background-hover}]*/
        color: black; /*[{vs-command-button-foreground-hover}]*/
    }

    .dropdownoptions-button:disabled {
        border: 1px solid grey; /*[1px solid {vs-command-button-border-disabled}]*/
        background-image: none;
        background-color: white; /*[{vs-command-button-background-disabled}]*/
        color: black; /*[{vs-command-button-foreground-disabled}]*/
    }

.dropdownoptions-checkboxcontainer-keyboard-focus {
    background-color: lightgreen !important; /*[{vs-command-drop-down-header-background-hover} !important]*/
    color: black !important; /*[{vs-command-drop-down-header-text-hover} !important]*/
    border: 1px solid lightcyan !important; /*[1px solid {vs-command-search-border-hover} !important]*/
}
