/* $loc_script_Compose_Home_css_comment1$ */

/* $loc_script_Compose_Home_css_comment2$ */

#set-subject {
    width: 100px;
    margin-right: 5px;
}

#get-subject {
    width: 100px;
}

#add-to-recipients {
    width: 205px;
}
